@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

.ff_josefin {
  font-family: "Josefin Sans", sans-serif;
}

@font-face {
  font-family: Borsok;
  src: url(./assets/font/Borsok\ 400.otf);
}

.ff_Borsok {
  font-family: Borsok;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  /*================================== FONT-SIZES ================================================ */
  --font-xs: 16px;
  --font-sm: 18px;
  --font-2sm: 20px;
  --font-md: 24px;
  --font-lg: 27px;
  --font-xl: 29px;
  --font-2xl: 32px;
  --font-3xl: 35px;
  --font-4xl: 60px;
  --font-5xl: 62px;
  --font-6xl: 150px;

  /*================================== COLOR-CLASS ================================================ */
  --color-orange: #ff914d;
  --color-blue: rgba(122, 117, 240, 1);
  /*================================== backgraund-COLOR-CLASS ================================================ */
  --bg-orange: #fff0e7;
}

/*====================================== Media-queries-start ======================================== */
@media (max-width: 1299.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 18px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 60px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 15px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 40px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 14px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 40px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-xs: 16px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

/*====================================== FONT-SIZE CLASS START ======================================= */
.font_xs {
  font-size: var(--font-xs) !important;
}

.font_2sm {
  font-size: var(--font-2sm) !important;
}

.font_sm {
  font-size: var(--font-sm) !important;
}

.font_md {
  font-size: var(--font-md) !important;
}

.font_lg {
  font-size: var(--font-lg) !important;
}

.font_xl {
  font-size: var(--font-xl) !important;
}

.font_2xl {
  font-size: var(--font-2xl) !important;
}

.font_3xl {
  font-size: var(--font-3xl) !important;
}
.font_4xl {
  font-size: var(--font-4xl) !important;
}
.font_5xl {
  font-size: var(--font-5xl) !important;
}
.font_6xl {
  font-size: var(--font-6xl) !important;
}

/*====================================== COLOR CLASS START =================================================== */
.text_orange {
  color: var(--color-orange) !important;
}

.text_blue {
  color: var(--color-blue);
}
/*===================================== BACKGROUND-COLOR CLASS START =========================================== */
.bg_light_orange {
  background-color: var(--bg-orange) !important;
}

/*================================== BACKGROUND-COLOR CLASS END ================================================= */
.opacity_09 {
  opacity: 0.9 !important;
}
.opacity_08 {
  opacity: 0.8 !important;
}

.opacity_07 {
  opacity: 0.7 !important;
}

/* -------------------------------------------------------------------------- */

body {
  background-color: var(--bg-orange) !important;
}

.about_position_paint {
  right: 0;
  bottom: -300px;
  z-index: 1;
}

.mission_custom_para_class {
  max-width: 462px;
  line-height: 150%;
}

.text_background_image {
  left: 27%;
  top: 5px;
  z-index: -1;
  width: 75%;
}
.text_background_image {
  background-image: url(./assets/images/svg/text_image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: 0;
}
.faq_textbg {
  background-image: url(../src/assets/images/svg/faq_text_bg.svg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  width: 272px;
  height: 74px;
}
/* -----------------faq------------- */
.faq_paddint_top {
  padding-top: 91px;
  padding-bottom: 139px;
}
.faq_text_bottom_padding {
  margin-bottom: 74px;
}
.acc_border {
  border: 1px solid #1e8cd6 !important;
  border-radius: 8px;
  background-color: transparent !important;
}
.faq_custom_width {
  max-width: 793px;
}
.accordian {
  background-color: transparent !important;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: transparent !important;
  box-shadow: none !important;
}
.accordion-item {
  padding: 16px 24px;
  border: 2px solid #000000 !important;
  border-radius: 8px;
}
.accordion-item:first-of-type {
  padding: 16px 24px;
}
.accordion-item:first-of-type .accordion-button {
  padding: 0;
}
.accordion-body {
  padding: 0 !important;
}
.acc_body {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.accordion-button::after {
  background-image: url(../src//assets/images/svg/pulsh_img.svg) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../src/assets/images/svg/faq_img.svg) !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: transparent !important;
}
.accordion-button {
  padding: 0 !important;
}
.faq_spacing {
  margin-top: 15px;
}
.z_index_-1 {
  z-index: -1;
}
/* ---------------- footer---------------- */
.footer_background_image {
  background-image: url(./assets/images/svg/footer_bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.footer_custom_padding {
  padding-top: 145px;
}
.footer_icon_top_spacing {
  margin-top: 37px;
}
.footer_border {
  opacity: 0.5;
  border: 1px solid #ffffff;
  margin-top: 60px;
}
/* -------------------team----------- */
.team_background_image {
  background-image: url(../src//assets/images/png/team_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  position: relative;
  z-index: -5 !important;
}
.team_custom_paddingY {
  padding-top: 153px;
  padding-bottom: 128px;
}
.transform_rotate_team_image1 {
  transform: rotate(5.95deg);
}
.transform_rotate_team_image2 {
  transform: rotate(-5.44deg);
}
.transform_rotate_team_image3 {
  transform: rotate(5.91deg);
}
.transform_rotate_team_image4 {
  transform: rotate(-5.44deg);
}
.transform_rotate_team_image5 {
  transform: rotate(5.91deg);
}
.transform_rotate_team_image6 {
  transform: rotate(-6.14deg);
}
.z_index1 {
  z-index: 1 !important;
}
.z_index2 {
  z-index: 2 !important;
}
/* ------------------ */

@media (max-width: 576px) {
  .custom_mission_topspace {
    padding-top: 48px;
  }
  .faq_paddint_top {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
  .faq_text_bottom_padding {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 768px) {
  .custom_start_padding {
    padding-left: 52px !important;
  }
  .custom_mission_topspace {
    padding-top: 72px;
  }
}

@media (min-width: 1200px) {
  .min_vh_100 {
    min-height: 100vh;
  }
  .custom_mission_topspace {
    padding-top: 272px;
  }
  .faq_paddint_top {
    padding-top: 91px;
    padding-bottom: 139px;
  }
}

@media (min-width: 1400px) {
  .custom_container {
    max-width: 1146px !important;
  }
  .custom_footer_container {
    max-width: 1140px !important;
  }
}
@media (max-width: 1024px) {
  .min_vh_100 {
    min-height: 230px !important;
  }
  .faq_paddint_top {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .faq_text_bottom_padding {
    margin-bottom: 48px;
  }
  .footer_icon_top_spacing {
    margin-top: 27px;
  }
}
