@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap");

.ff_josefin {
  font-family: "Josefin Sans", sans-serif;
}

@font-face {
  font-family: Borsok;
  src: url(./assets/font/Borsok\ 400.otf);
}

.ff_Borsok {
  font-family: Borsok;
}

:root {
  /*================================== FONT-SIZES ================================================ */
  --font-xs: 16px;
  --font-sm: 18px;
  --font-2sm: 20px;
  --font-md: 24px;
  --font-lg: 27px;
  --font-xl: 29px;
  --font-2xl: 32px;
  --font-3xl: 35px;
  --font-4xl: 60px;
  --font-5xl: 62px;
  --font-6xl: 150px;

  /*================================== COLOR-CLASS ================================================ */
  --color-orange: #ff914d;
  /*================================== backgraund-COLOR-CLASS ================================================ */
  --bg-orange: #fff0e7;
}

/*====================================== Media-queries-start ======================================== */
@media (max-width: 1299.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 18px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 60px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

@media (max-width: 991.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 18px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 60px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

@media (max-width: 767.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 18px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 60px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

@media (max-width: 575.98px) {
  :root {
    --font-xs: 16px;
    --font-sm: 18px;
    --font-2sm: 20px;
    --font-md: 24px;
    --font-lg: 27px;
    --font-xl: 29px;
    --font-2xl: 32px;
    --font-3xl: 35px;
    --font-4xl: 60px;
    --font-5xl: 62px;
    --font-6xl: 150px;
  }
}

/*====================================== FONT-SIZE CLASS START ======================================= */
.font_xs {
  font-size: var(--font-xs) !important;
}

.font_2sm {
  font-size: var(--font-2sm) !important;
}

.font_sm {
  font-size: var(--font-sm) !important;
}

.font_md {
  font-size: var(--font-md) !important;
}

.font_lg {
  font-size: var(--font-lg) !important;
}

.font_xl {
  font-size: var(--font-xl) !important;
}

.font_2xl {
  font-size: var(--font-2xl) !important;
}

.font_3xl {
  font-size: var(--font-3xl) !important;
}
.font_4xl {
  font-size: var(--font-4xl) !important;
}
.font_5xl {
  font-size: var(--font-5xl) !important;
}
.font_6xl {
  font-size: var(--font-6xl) !important;
}

/*====================================== COLOR CLASS START =================================================== */
.text_orange {
  color: var(--color-orange) !important;
}

/*===================================== BACKGROUND-COLOR CLASS START =========================================== */
.bg_light_orange {
  background-color: var(--bg-orange) !important;
}

/*================================== BACKGROUND-COLOR CLASS END ================================================= */
.opacity_09 {
  opacity: 0.9 !important;
}

.opacity_07 {
  opacity: 0.7 !important;
}
